extends layout

block content
  h1= product.name
  p Category: #{product.category}
  p Price: #{product.price}
  p Description: #{product.description}
  p Rating: #{product.rating}

  a(href=`/api/reviews?productId=${product.id}` class="btn btn-primary mt-3") Review Product
